.script-shard-count {
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 0.75rem;
    bottom: -0.125rem;
    color: #80058b;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;

    .club_champions_rewards_container & {
        bottom: auto;
        top: -0.1875rem;
    }

    .shard_icn {
        height: 1rem;
        width: 1rem;
        background-size: 140%;
        background-position: center;
        position: relative;
        left: unset;
        top: unset;
    }

    .rewards_list & {
        left: 0;
        font-size: 0.6rem;

        .shard_icn {
            width: 0.8rem;
            background-size: 150%;
        }
    }

    #pre-battle #opponent-panel .fighter-rewards .pantheon-rewards & {
        display: none;
    }
}

.rewards_tooltip .slot.girl_ico {
    overflow: visible;
}

.player_team_block .opponent_rewards .rewards_list .slot.scroling_animation  {
    &.girl_ico .slot {
        overflow: visible!important;
    }

    &.one_icon .scroling_wrapper {
        animation: none;
    }

    .scroling_wrapper {
        padding: 0% 10%;

        .slot {
            pointer-events: unset;
        }
    }

    #season-arena & .scroling_wrapper {
        padding: 0% 0%;
    }
}

@keyframes script_rewards_scrolling {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(50%);
    }
}
