#dp-content 
    .left-container
    .tiers-container
    .player-progression-container
    .tiers-progression
    .tier-container {
    margin-left: 0.5rem;
    margin-right: 0rem;
    width: 4rem;
}
