.girl-leveler-panel .girl-leveler-container {
    .girl-section .girl-avatar, #skills .script-girl-avatar {
        display: flex;
        flex-direction: row;
    }

    .girl-section .girl-avatar {
        position: relative;
        align-items: center;
    }

    #skills {
        .script-girl-avatar {
            position: absolute;
            align-items: flex-start;
            justify-content: center;
            width: 24.5rem;
            left: 3.5rem;
        }

        .girl-skills-avatar {
            position: unset;
        }
    }
}

.script-quicknav {
    &-prev,
    &-next {
        width: 100px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
            filter: drop-shadow(0px 0px 4px white);
        }

        img {
            width: 100%;
        }

        #equipment & {
            position: absolute;
            bottom: -60px;
        }

        #teams & {
            position: absolute;
            top: 120px;
        }
    }

    &-prev {
        left: -140px;

        #equipment & {
            left: 0px;
        }

        #teams & {
            left: 0.5rem;
        }
    }
    &-next {
        right: -140px;

        #equipment & {
            right: 0px;
        }

        #teams & {
            left: 25.75rem;
        }
    }
}

#equipment {
    .equipment-left-controls {
        z-index: 2;
        width: 35%;
    }

    .inventory-controls {
        justify-content: space-evenly;

        > * {
            margin-left: 0px;
        }
    }
}

#skills #reset_skills {
    z-index: 1;
}
