.girl-leveler-panel .girl-leveler-container .girl-section .girl-avatar {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.script-quicknav {
    &-prev,
    &-next {
        position: absolute;
        width: 100px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
            filter: drop-shadow(0px 0px 4px white);
        }

        &[resource="equipment"] {
            bottom: -60px;
        }

        img {
            width: 100%;

            &.quicknav-ico {
                display: none;
            }
        }

        &[resource="equipment"] {
            img {
                &.quicknav-ico {
                    display: unset;
                }
                &.quicknav-ava {
                    display: none;
                }
            }
        }
    }

    &-prev {
        left: -140px;

        &[resource="equipment"] {
            left : -40px;
        }

        &[resource="teams"] {
            left : -100px;
        }
    }
    &-next {
        right: -140px;

        &[resource="equipment"] {
            right : -40px;
        }

        &[resource="teams"] {
            right : -100px;
        }
    }
}
