.scriptRewardsDisplay .reward_wrap {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(42px, 1fr));
    gap: 4px 0px;
}

.contest .expiration {
    position: absolute;
    top: 10px;
    padding-left: 10px;
}

.expiration-soon {
    animation: {
        name: pulsing-contest;
        duration: 2s;
        iteration-count: infinite;
    }
}

@keyframes pulsing-contest {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

#contests.height-for-ad {
    .contests-container .right_part .info {
        h5 {
            margin-top: 0.75rem;
            margin-bottom: 0.5rem;
        }

        .over_bunny {
            height: auto;
            line-height: 16px;
        }
    }
}
