@import "../../common/constants.scss";

.script-home-timer {
    color: #999;
}

#homepage {
    & > a > .position > span {
        height: auto;
        min-height: 26px;

        @media #{$mediaMobile} {
            height: auto;
            min-height: 44px;
        }
    }
    & > a[rel="pachinko"] > .position > span {
        @media #{$mediaMobile} {
            width: 140px;
        }
        @media #{$mediaDesktop} {
            width: 110px;
        }
    }

    & > a[rel="shop"] > .position > span {
        @media #{$mediaMobile} {
            width: 130px;
        }
        @media #{$mediaDesktop} {
            width: 100px;
        }
    }

    & > a[rel="clubs"] {
        // Move clubs button out of the way of seasons
        top: 148px;
        left: 151px;

        @media #{$mediaMobile} {
            top: 128px;
            left: 194px;
            z-index: 1;
        }

        & > .position {
            width: auto;
            left: 44px;

            & > span {
                @media #{$mediaMobile} {
                    width: 130px;
                }
                @media #{$mediaDesktop} {
                    width: 100px;
                }
            }
        }
    }

    & > a[rel="leaderboard"] {
        height: 167px;
    }

    & > a[rel="god-path"] .position {
        @media #{$mediaMobile} {
            top: 84px;
        }
    }

    .main-container .left-side-container {
        .script-home-shortcut-container,
        .script-league-pos {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 5.875rem;
            padding-left: 8px;
            height: auto;
            margin-top: auto;
            margin-bottom: auto;
            align-items: center;

            a {
                z-index: 6;
            }
        }

        .script-league-pos {
            .script-league-icon {
                height: 50px;
                width: 50px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            .script-league-rank {
                text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                z-index: 1;

                &-digits-3 {
                    font-size: 16px;
                }
            }
        }
    }
}

.champions_flat_icn {
    background-image: var(--champions-icon);
}

.pantheon_flat_icn {
    background-image: var(--pantheon-icon);
}

.labyrinth_flat_icn {
    background-image: var(--labyrinth-icon);
}

.script-home-shortcut-container {
    display: flex;
    height: 30px;
    margin-top: -38px;
    margin-bottom: 8px;
    justify-content: center;

    @media #{$mediaMobile} {
        height: 40px;
        margin-top: -48px;
    }
}

.script-home-shortcut {
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-right: 3px;

    @media #{$mediaMobile} {
        width: 40px;
        height: 40px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .clubChampions_flat_icn,
    .champions_flat_icn,
    .pantheon_flat_icn,
    .labyrinth_flat_icn {
        height: 16px;
        width: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media #{$mediaMobile} {
            height: 22px;
            width: 22px;
        }
    }
}

.script-salary-summary {
    width: 11rem;
    font-size: 12px;

    table {
        margin-left: auto;
        margin-right: auto;
    }

    td:first-child {
        text-align: right;
    }
    td:last-child {
        text-align: left;
        width: 3.5rem;
    }

    .hudSC_mix_icn {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-size: contain;
    }
}

.hh_tooltip_new:has(.collect-container),
.hh_tooltip_new:has(.collect-income-value) {
    display: none;
}

#collect_all {
    position: relative;
    z-index: 1;

    .script-event-handler-hack {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &[disabled] .script-event-handler-hack {
        display: block;
    }

    &.max-salary {
        box-shadow: 0px 0px 6px 6px #ccff40;
        background-image: linear-gradient(0deg, #3db236, #96c120);
    }

    span.soft_currency_icn::after {
        display: block;
        content: attr(to-collect);
        font-size: 10px;
        color: #fff;
        text-shadow:
            1px  1px 0 #000,
            -1px  1px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000;
        position: absolute;
        bottom: 0px;
        justify-self: center;
    }
}

// TODO Remove when KK fix this bug. Fixes the position of the reward notification icon on seasons and pov buttons
#homepage
    .main-container
    .middle-container
    .waifu-and-right-side-container
    .right-side-container
    .event-container
    .event-cards-container
    .pov-button
    > a,
#homepage
    .main-container
    .middle-container
    .waifu-and-right-side-container
    .right-side-container
    .event-container
    .event-cards-container
    .season-button
    > a {
    display: block;
}

$messenger-primary: #fff;
$messenger-secondary: #000;

.messenger-link {
    .energy_counter {
        position: absolute;
        color: $messenger-primary;
        text-shadow: 1px 1px 0px $messenger-secondary, -1px 1px 0px $messenger-secondary,
            -1px -1px 0px $messenger-secondary, 1px -1px 0px $messenger-secondary;
        text-align: center;

        .energy_counter_amount_container {
            display: flex;
            align-items: center;

            .energy_counter_amount {
                display: flex;
                align-items: baseline;
                font-size: 12px;
                [energy] {
                    font-size: 20px;
                }
            }
        }
        [rel="count_txt"] {
            font-size: 14px;
            line-height: 16px;
            [rel="count"] {
                display: block;
            }
        }
    }

    .messenger-reply-timer {
        display: none;
    }
}
