.club-champion-members-challenges .data-list {
    .data-row {
        .data-column:nth-child(1) {
            width: 3rem;
        }
        .data-column:nth-child(2) {
            width: 15rem;
            justify-content: start;
            gap: 0.5rem;
        }
        .data-column:nth-child(3) {
            width: 5rem;
        }
        .data-column:nth-child(4) {
            width: 9rem;
        }

        &.body-row {
            text-align: center;

            .data-column:nth-child(4) {
                display: inline-block;

                div {
                    line-height: 1.2;
                    font-size: 0.9rem;
                }
                .shard_icn {
                    height: 1rem;
                    width: 1rem;
                    display: inline-block;
                    background-size: 140%;
                    background-position: center;
                }
            }
        }
    }
}

.club-details-container #club_champions {
    .script-participant-count {
        display: block;
        position: absolute;
        top: 15px;
        left: 500px;
    }
}

#members .non-participant {
    color: #ffa07a;
}

.champions-middle__girl-selection .green-tick-icon.script-pose-match {
    margin-left: 35px;
    filter: hue-rotate(-45deg);
}

.champions-bottom__ticket-amount {
    width: 145px;

    &.right {
        text-align: left !important;
    }
}

.club_champions_timer_fight {
    flex-wrap: wrap;
}

.dummy-timer-target {
    display: none !important;
}
