@import "../../common/constants.scss";
@import "../../common//mixins.scss";

.scriptLeagueInfo {
    display: flex;
    width: 9rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px 8px;
    line-height: 16px;
    font-size: 13px;
}

.scriptLeagueInfoIcon {
    display: inline-block;
    height: 16px;
    width: 16px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 6px;
    margin-right: 2px;
    @include text-stroke-hack;

    &:after {
        display: block;
        width: 100%;
        text-align: center;
    }

    &.top4 {
        background: var(--legendary-bg);
        background-size: cover;

        &:after {
            content: "4";
        }
    }

    &.top15 {
        background-color: #ffb244;
        &:after {
            content: "15";
        }
    }

    &.top30 {
        background-color: #23b56b;
        &:after {
            content: "30";
        }
    }
}

.hh_tooltip_new em {
    color: white;
}

#leagues .league_content {
    .league_tiers {
        button#league_filter {
            height: 32px;
            width: 32px;
            padding: 0;
            margin-left: 0.5rem;
    
            .filter_mix_icn {
                display: block;
                height: 32px;
                width: 24px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: var(--filter-icon);
                margin: auto;
            }
        }

        .league_filter_box {
            position: absolute;
            left: 45rem;
            top: 6rem;
            width: 6.5rem;
            height: -moz-fit-content;
            height: fit-content;
            z-index: 3;
            border-radius: 8px 10px 10px 8px;
            background-color: rgb(30, 38, 30);
            box-shadow: rgba(255, 255, 255, 0.73) 0px 0px;
            padding: 5px;
            border: 1px solid rgb(255, 162, 62);
            text-align: center;
        
            span {
                display: block;
                font-size: 12px;
                line-height: 1.2;
            }
        
            label {
                background: transparent;
                width: auto;
                height: 100%;
                margin: 0px;
                border-radius: 5px;
                display: block;
            }
        
            .grid-selector {
                width: 100%;
                display: grid;
                grid-auto-flow: row;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr;
                grid-gap: 2px;
                margin-bottom: 4px;

                &[rel="team_theme"] {
                    grid-template-rows: 1fr 1fr 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
                }
    
                &:last-child {
                    margin-bottom: 0px;
                }

                input {
                    display: none;

                    &:checked + label,
                    &:hover + label {
                        background-color: #fff8;
                    }
                }
            
                img {
                    height: 24px;
                    width: 24px;
                    margin: 2px;
                }
        
                div {
                    height: 24px;
                    width: 24px;
                    margin: 4px;
                    border-radius: 5px;
                }
            }
        }
    }

    .league_table .data-list .data-row {
        &.head-row {
            order: -2;

            .data-column.head-column[column=team] {
                pointer-events: unset;
                cursor: pointer;

                .upDownArrows_mix_icn {
                    display: unset;
                }
            }
        }

        &.body-row.script-hide {
            display: none;
        }

        &.body-row.player-row {
            &:has(.player-pin.pinned) {
                order: -1;
            }

            .data-column[column=can_fight] .player-pin {
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }

                &.pinned {
                    opacity: 1;
                }

                img {
                    width: 1.5rem;
                    transform: scaleX(-1);
                }
            }
        }

        .data-column:not(.head-column) {
            &[column=team] .button_team_synergy {
                background: none;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 3px;

                img.team-theme.icon {
                    width: 20px;
                    height: 20px;
                }
            }

            &[column=boosters] {
                .circular-progress {
                    position: relative;
                    width: 1.5rem;
                    height: 1.5rem;

                    .green {
                        background-color: #01d10b;
                    }

                    .yellow {
                        background-color: #ffc400;
                    }

                    .red {
                        background-color: #ff0000;
                    }

                    .slot {
                        position: absolute;
                        left: 7.5%;
                        top: 7.5%;
                        width: 85%;
                        height: 85%;
                        border: none;

                        &.expired {
                            opacity: 0.5;
                        }
                    }

                    .circle {
                        height: 100%;
                        width: 100%;
                        border-radius: 15%;
                        box-shadow: 0px 0px 5px #000, 0px 0px 4px #000, 0px 0px 3px #000, 0px 0px 2px #000;
                    }

                    .circle-bar {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        background-color: #000000bf;
                        clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0%);
                        border-radius: 15%;
                        overflow: hidden;

                        &.flashing {
                            animation-name: flashing-background;
                            animation-duration: 3s;
                            animation-iteration-count: infinite;
                        }

                        .progress {
                            position: absolute;
                            height: 200%;
                            width: 200%;
                            top: -50%;
                            left: -50%;
                            clip-path: polygon(50% -50%, 150% -50%, 150% 150%, 50% 150%);
                        }

                        &.right {
                            transform: rotate(180deg);
                        }
                    }

                    .dummy-timer-target {
                        display: none !important;
                    }
                }
            }
        }
    }

    .league_buttons {
        .challenge_points {
            margin-right: 1.5rem;
    
            .bar-wrap {
                width: 10rem;
    
                .over {
                    font-size: 13px;
    
                    [rel=count_txt] {
                        font-size: 10px;
                    }
                }
            }
        }
    
        .league_end_in div>p {
            font-size: 13px;
            line-height: 0.6rem;
        }
    
        .league_buttons_block {
            width: 10.5rem;
        }
    }
}

@keyframes flashing-background {
    0% {
        background-color: #000000bf;
    }
    50% {
        background-color: #ff0000;
    }
    100% {
        background-color: #000000bf;
    }
}
