@import "../../common/constants.scss";
@import "../../common//mixins.scss";

.leagues_script {
    display: flow-root;
    margin-top: 4px;
}

.scriptLeagueInfo {
    display: flex;
    width: 9rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px 8px;
    line-height: 16px;
    font-size: 13px;
}

.scriptLeagueInfoIcon {
    display: inline-block;
    height: 16px;
    width: 16px;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 6px;
    margin-right: 2px;
    @include text-stroke-hack;

    &:after {
        display: block;
        width: 100%;
        text-align: center;
    }

    &.top4 {
        background: var(--legendary-bg);
        background-size: cover;

        &:after {
            content: "4";
        }
    }

    &.top15 {
        background-color: #ffb244;
        &:after {
            content: "15";
        }
    }

    &.top30 {
        background-color: #23b56b;
        &:after {
            content: "30";
        }
    }
}

.hh_tooltip_new em {
    color: white;
}

#beaten_opponents {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    background: none;
    border: none;
    cursor: pointer;

    @media #{$mediaDesktop} {
        height: 28px;
        top: 2px;
        left: 200px;
    }

    @media #{$mediaMobile} {
        height: 32px;
        z-index: 1;
        right: 540px;
        top: 40px;
    }
}

#hide_beaten {
    position: relative;

    img {
        width: auto;

        @media #{$mediaDesktop} {
            height: 20px;
        }

        @media #{$mediaMobile} {
            height: 26px;
        }
    }
}

#leagues
.league_content
.league_table
.data-list
.data-row
.data-column:not(.head-column)[column=team]
.button_team_synergy {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3px;

    img.team-theme.icon {
        width: 20px;
        height: 20px;
    }
}

.individualDisplaySwitch {
    position: absolute;
    input {
        display: none;
        & + span {
            color: #d08467;
            padding: 5px;
            cursor: pointer;
        }
        &:checked + span,
        &:hover + span {
            color: #fff;
        }
    }

    @media #{$mediaDesktop} {
        top: 10px;
        left: 260px;
        font-size: 13px;
    }

    @media #{$mediaMobile} {
        top: 44px;
        left: 335px;
        font-size: 16px;
    }
}

#leagues .league_content .league_buttons {
    .challenge_points {
        margin-right: 1.5rem;

        .bar-wrap {
            width: 10rem;

            .over {
                font-size: 13px;

                [rel=count_txt] {
                    font-size: 10px;
                }
            }
        }
    }

    .league_end_in div>p {
        font-size: 13px;
        line-height: 0.6rem;
    }

    .league_buttons_block {
        width: 10.5rem;
    }
}
