.script-blessing-spreadsheet-link {
    position: absolute;
    top: 0.25rem;
    right: 3.5rem;
    color: #8ec3ff;
    text-decoration: none;
    display: flex;
    align-content: center;
    align-items: center;
    max-width: 14rem;
    font: normal normal normal 14px/18px Tahoma, Helvetica, Arial, sans-serif;

    .nav_grid_icn {
        margin-right: 1rem;
    }

    &:hover {
        text-decoration: underline;
    }
}

#common-popups .popup_wrapper #blessings_popup .blessings_wrapper {
    padding: 1rem;
    height: auto;
    max-height: 31.24rem;

    .active-blessings-list {
        display: flex;

        .active-blessing:not(:first-child) {
            margin-top: unset;
            margin-left: 0.5rem;
        }

        .content-container {
            .title-container h4 {
                font-size: 1.2rem;
            }

            p {
                font-size: 0.85rem;
            }
        }
    }
}
