.seasonal-event-panel
    .seasonal-event-container
    .tabs-section
    #home_tab_container
    .bottom-container
    .right-part-container
    .seasonal-tiers-section
    .seasonal-progress-bar-section
    .seasonal-progress-bar-tiers
    .seasonal-tier-container
    .seasonal-tier {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mega-event-panel
.mega-event-container
.tabs-section
#home_tab_container
.bottom-container
.right-part-container
.mega-tiers-section
.mega-progress-bar-section
.mega-progress-bar-tiers
.mega-tier-container {
    &.double-tier {
        width: 4.5rem;
    }

    .mega-tier {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
