@import "../../common/constants.scss";

label.equip_filter {
    background: transparent;
    position: absolute;
    width: 32px;

    #my-hero-equipement-tab-container & {
        top: 6rem;

        @media #{$mediaMobile} {
            top: 4.25rem;
        }
    }

    #equipement-tab-container .right-container & {
        top: 3.75rem;

        @media #{$mediaMobile} {
            top: 3rem;
        }
    }

    input {
        height: 32px;
        width: 32px;
        display: block;
        padding: 0px;
    }

    &::before {
        content: " ";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: 24px;
        background-repeat: no-repeat;
        background-image: var(--filter-icon);
        pointer-events: none;
    }
}

.equip_filter_box {
    position: absolute;
    width: 5rem;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 3;
    border-radius: 8px 10px 10px 8px;
    background-color: rgb(30, 38, 30);
    box-shadow: rgba(255, 255, 255, 0.73) 0px 0px;
    padding: 5px;
    border: 1px solid rgb(255, 162, 62);
    text-align: center;

    hr {
        margin-block: 0.25rem;
        border: 1px solid rgb(255, 162, 62);
    }
    
    &.resonance {
        width: 6.5rem;
    }

    #my-hero-equipement-tab-container & {
        top: 3.5rem;
        left: 8rem;

        @media #{$mediaMobile} {
            top: 2.25rem;
        }

        &.resonance {
            top: 6.5rem;
            left: 1rem;

            @media #{$mediaMobile} {
                top: 5.25rem;
            }
        }
    }

    #equipement-tab-container .right-container & {
        top: 3rem;
        left: 31.25rem;

        @media #{$mediaMobile} {
            top: 2.25rem;
        }

        &.resonance {
            top: 6rem;
            left: 24.25rem;

            @media #{$mediaMobile} {
                top: 5.25rem;
            }
        }
    }

    label {
        background: transparent;
        width: auto;
        height: 100%;
        margin: 0px;
        border-radius: 5px;
        display: block;
    }

    .grid-selector input {
        &:checked + label,
        &:hover + label {
            background-color: #fff8;
        }
    }
}

.grid-selector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    flex-direction: column;
    
    &:last-child {
        margin-bottom: 0px;
    }

    input {
        display: none;
    }

    .selector-options {
        width: -moz-fit-content;
        width: fit-content;
        display: grid;
        grid-gap: 2px;

        img {
            height: 24px;
            width: 24px;
            margin: 2px;
        }

        div {
            height: 24px;
            width: 24px;
            margin: 4px;
            border-radius: 5px;
        }
    }

    .clear-selector {
        width: -moz-fit-content;
        width: fit-content;
        margin-right: 5px;

        img {
            height: 24px;
            width: 24px;
        }
    }
}

.slot .favourite-toggle {
    position: absolute;
    display: none;
    height: 32px;
    width: 32px;
    top: 0px;
    right: 0px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slot:hover[data-is-favourite="false"] .favourite-toggle,
.slot[data-is-favourite="true"] .favourite-toggle {
    display: block;
}

.slot[data-is-favourite="false"] .favourite-toggle {
    background-image: var(--star-icon-white);
    opacity: 0.7;
}

.slot[data-is-favourite="true"] .favourite-toggle {
    background-color: rgba(30, 38, 30, 0.7);
    background-image: var(--star-icon-orange);
}
