.team-hexagon-container .team-hexagon {
    .page-edit-labyrinth-team .player_team_block & .team-hexagon-col {
        row-gap: 0.4rem;
    }

    .team-member-container {
        .page-labyrinth-pre-battle section .labyrinth-battle .player_team_block.battle_hero & {
            margin-bottom: 1.4rem;

            .ego-bar-container {
                bottom: -1.2rem;
            }
        }

        .girl-icons {
            position: absolute;
            bottom: -3px;
            display: flex;
            gap: 0.25rem;

            .page-edit-labyrinth-team & {
                bottom: 6px;
            }

            #battle & {
                width: 100%;
                justify-content: center;
                bottom: 3rem;
                z-index: 2;
                gap: 1rem;

                [carac]::before, .icon {
                    width: 20px;
                    height: 20px;
                }
            }

            [carac]::before {
                display: block;
                width: 15px;
                height: 15px;
            }

            .icon {
                position: unset;
            }
        }
    }
}

.page-labyrinth-pre-battle,
.page-edit-labyrinth-team {
    .team-order-number {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.8rem;
        text-align: center;
        background: linear-gradient(90deg,#333750 0,#1e9fdf 100%);
        border-radius: 1.5rem;
        border: 2px solid #fff;
        z-index: 2;
    }

    .labyrinth-battle,
    .harem-panel-girls {
        .team-order-number {
            top: -0.5rem;
        }
    }
}

.harem-panel .harem-panel-girls .harem-girl-container {
    .icon {
        top: unset;
        left: 0px;

        &::before {
            width: 24px;
            height: 24px;
        }
    }

    .girl-element {
        top: unset;
    }
}

.labyrinth-pool-select-panel .labyrinth-pool-select-container .girl-grid,
.labyrinth-panel .labyrinth-container .squad-container .girl-grid,
.labyrinth-panel .labyrinth-container .rejuvenation_stones-container .girl-grid {
    grid-column-gap: 0.5rem;

    .girl-container {
        overflow: visible!important;

        .icon {
            position: relative;
            bottom: 48px;
            display: inline-block;

            &.caracs {
                right: 15px;

                &[carac]::before {
                    width: 24px;
                    height: 24px;
                }
            }
            &.element {
                left: 15px;

                & img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

.labyrinth-panel .labyrinth-container .squad-container .girl-grid,
.labyrinth-panel .labyrinth-container .rejuvenation_stones-container .girl-grid {
        grid-column-gap: unset;

        .girl-container {
            margin-bottom: 0.25rem;
            height: 8rem;

            .girl-image {
                width: 4.5rem;
                height: 4.5rem;
            }

            .girl-power-container {
                margin-top: 0.25rem;

                .girl-power-icon {
                    width: 1.25rem;
                    height: 1.25rem;
                    margin: 0 0 0 -0.2rem;
                }
            }

            .ego-bar-container {
                margin-top: 0;
            }

            .icon {
                bottom: 66px;
            }
    }
}

#battle {
    .bars-update-text, .girl-image {
        &[style*="opacity: 0;"] {
            display: none;
        }
    }
}

.script-relics-toggle {
    position: absolute;
    top: 1rem;
    right: 0;

    img {
        width: 4rem;
        height: 4rem;

        animation: zoom-down .5s ease forwards;
        -webkit-animation: zoom-down .5s ease forwards;
        &:hover {
            animation: zoom-up .5s ease forwards;
            -webkit-animation: zoom-up .5s ease forwards;
        }
    }
}

.script-relics-panel {
    position: absolute;
    top: 4rem;
    width: 22rem;
    height: auto;
    max-height: 26rem;
    overflow-y: auto;
    background-color: #080808f5;
    border-radius: 4px;
    border-width: 4px;
    border-style: solid;
    border-color: #cccccc42;

    &.hh-scroll {
        height: 100%;
    }

    .middle-container & {
        top: 1.5rem;
        z-index: 3;
    }

    .script-relics-grid {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-gap: 0.5rem;
        justify-items: center;
        text-align: center;

        .relic-container {
            position: relative;
            height: auto;
            width: 100%;
            border: solid #f90 0.5px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.25rem;
            &.common-relic {
                background-image:url(https://hh.hh-content.com/labyrinth/common_relic_background.jpg);
                &>.relic-name span {
                    color:#fff;
                }
            }
            &.rare-relic {
                background-image:url(https://hh.hh-content.com/labyrinth/rare_relic_background.jpg);
                &>.relic-name span {
                    color:#32bc4f;
                }
            }
            &.epic-relic {
                background-image:url(https://hh.hh-content.com/labyrinth/epic_relic_background.jpg);
                &>.relic-name span {
                    color:#ffb244;
                }
            }
            &.legendary-relic {
                background-image:url(https://hh.hh-content.com/labyrinth/legendary_relic_background.jpg);
                &>.relic-name span {
                    color:#9150bf;
                }
            }
            &.mythic-relic {
                background-image:url(https://hh.hh-content.com/labyrinth/mythic_relic_background.jpg);
                &>.relic-name span {
                    color:#ec0039;
                }
            }

            .relic-name {
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.22px;
                color: #fff;
                -webkit-text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000,1px -1px 0 #000;
                -moz-text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000,1px -1px 0 #000;
                text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000,1px -1px 0 #000;
                height: 2.5rem;

                &>span {
                    display: block;
                    position: relative;
                    bottom: 4px;
                    font-size: 10px;
                }
            }

            .relic-description {
                font-size: 13px;
                line-height: 1rem;
                font-weight: 400;
                letter-spacing: 0.22px;
                color: #fff;
                -webkit-text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000,1px -1px 0 #000;
                -moz-text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000,1px -1px 0 #000;
                text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000,1px -1px 0 #000;
                height: 100%;
                margin-bottom: 0.25rem;
            }

            .relic-infos {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 0;
                right: 2rem;

                &>span {
                    display: none;
                    margin-bottom: 0.2rem;
                    font-size: 13px;
                    font-weight: 400;
                    letter-spacing: 0.22px;
                    color: #ffb827;
                    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000,-2px -2px 5px rgba(255,159,0,.4),2px -2px 5px rgba(255,159,0,.4),-2px 2px 5px rgba(255,159,0,.4),2px 2px 5px rgba(255,159,0,.4),0 0 10px rgba(255,159,0,.4)
                }

                .team-relic-icon span {
                    width: 2.5rem;
                    height: 2.5rem;
                    background-size: 2.5rem;
                }

                .girl-image {
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    height: 3rem;
                    width: 3rem;
                    border: 2px solid #fff;
                }

                .ego-bar-container {
                    width: 4rem;
                    height: 1rem;
                    margin-top: 0.3rem;
                    border: 1px solid #000;
                    position: relative;
                    text-align: center;
                    background: #200307;
                    line-height: 1rem;

                    span {
                        position: relative;
                        top: -1px;
                        text-shadow: 1px 1px 0 #000;
                        font-size: 14px;
                        z-index: 1;
                    }

                    .ego-fill {
                        background-image: linear-gradient(to right, #702 0, #e15 100%);
                        position: absolute;
                        height: 100%;
                        top: 0;
                    }
                }
            }

            &.large-card {
                min-height: 5rem;

                .relic-name {
                    align-self: flex-start;
                    width: 75%;
                }

                .relic-description {
                    align-self: flex-start;
                    width: 75%;

                    span {
                        display: contents;
                        color: #9150bf;
                    }
                }

                .relic-infos {
                    right: 0;
                    bottom: 0;
                    width: 25%;
                    height: 100%;
                    justify-content: center;
                }
            }
        }
    }

    .nicescroll-rails {
        top: 0rem!important;
        right: 5px!important;
        z-index: unset!important;
    }
}

.new_girl_tooltip .caracs span.relic-attribute {
    color: #ff06ff!important;
}
