@import "../../common/constants.scss";

#arena_filter_box {
    position: absolute;
    width: 21.25rem;
    z-index: 99;
    border-radius: 8px 10px 10px 8px;
    background-color: #1e261e;
    box-shadow: rgba(255, 255, 255, 0.73) 0px 0px;
    padding: 5px;
    border: 1px solid #ffa23e;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 0.5rem;
    text-align: start;

    .change-team-panel & {
        right: 408px;

        @media #{$mediaMobile} {
            top: 98px;
        }
    
        @media #{$mediaDesktop} {
            top: 66px;
        }
    }
    .team-pool-selection-container & {
        right: 20px;
        top: 76px;
    }
    #squad_tab_container & {
        opacity: 90%;
        left: 185px;
        top: 20px;
    }

    &.form-wrapper > .form-control > .select-group {
        .selectric-open {
            z-index: unset;

            & > .selectric {
                z-index: 14;
            }
            & > div {
                z-index: 999;
            }
        }
        .selectric-items {
            height: auto;

            li {
                height: auto;
                line-height: 1.5rem;
                padding: 0 0.5rem;

                & > span {
                    height: auto;
                    width: auto;
                    &[carac] {
                        margin-right: 0.5rem;

                        &::before {
                            height: 1.5rem;
                            width: 1.5rem;
                        }
                    }
                }
                .element-icon, .girl-power-icon, [role-tooltip] {
                    height: 1.25rem;
                    width: 1.25rem;
                    background-size: contain;
                    background-position: center;
                    margin-right: 0.5rem;
                }
            }
        }
        .selectric {
            width: 10rem;
        }
    }
}

.change-team-panel, .team-pool-selection-container {
    #filter_girls {
        display: none;
    }

    .panel-title {
        display: flex;
        justify-content: center;
        align-items: center;

        .script-girl-count {
            font-size: 16px;
            margin-left: 0.5rem;
        }
    }
}

.labyrinth-panel .labyrinth-container .squad-container {
    .script-girl-count {
        margin-left: 1rem;
    }

    .girl-grid {
        align-content: start;
    }
}

 #arena_filter {
    height: 32px;
    width: 32px;
    padding: 0;

    .change-team-panel & {
        float: left;
    }
    .team-pool-selection-container & {
        float: right;
    }
    #squad_tab_container & {
        position: absolute;
        left: 145px;
        top: 30px;
        z-index: 5;
    }

    @media #{$mediaMobile} {
        //     top: 99px;
        //     right: 98px;
        margin-top: 5px;
    }

    // @media #{$mediaDesktop} {
    //     top: 76px;
    //     right: 98px;
    // }

    .filter_mix_icn {
        display: block;
        height: 32px;
        width: 24px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: var(--filter-icon);
        margin: auto;
    }
}

@media #{$mediaMobile} {
    #edit-team-page .change-team-panel.harem-panel {
        margin-top: 17px;
    }
}
