@import "../../common/constants.scss";

.gemStock {
    display: block;
    height: 25px;
    width: 25px;
    background-size: contain;
    background-image: var(--gem-stock-icon);
    transform: scale(1.25);
    margin-right: 1.5rem;

    &-table img {
        height: 25px;
        width: 25px;
    }
}
