@import "../../common/constants.scss";

#harem_whole {
    #filtering_girls {
        .form-wrapper {
            height: 31rem;
            width: 23rem;
            margin-top: -1rem;
            padding: 0 1rem;
            display: grid;
            grid-gap: 1rem;
            grid-row-gap: unset;
            grid-template-columns: 1fr 1fr; 
            justify-items: stretch;

            @media #{$mediaMobile} {
                margin-top: 0;
            }
            
            .reset-filters-container {
                grid-column: 1/3;
                height: 1.5rem;
            
                .blue_button_L {
                    width: 100%;
                    padding: 0px;
                    margin: 0 1rem;
                }
            }

            .form-control {
                margin: 0px;
                max-width: 10rem;

                &.filter-by-element-form,
                &.world-filter,
                &.event-filter,
                &.filter-by-checkbox {
                    grid-column: 1/3;
                    width: 21rem;
                    max-width: 21rem;
                    margin: 0;
                }

                &.filter-by-element-form {
                    margin-bottom: -0.5rem;
                }

                &.filter-by-checkbox {
                    display: flex;
                    justify-content: space-between;

                    .head-group {
                        display: none;
                    }

                    .checkbox-group {
                        width: auto;
                        column-gap: 0.25rem;
                        margin: 0px;
                    }
                }

                &.world-filter,
                &.event-filter {
                    margin-top: 0.5rem;
                }

                label.head-group {
                    pointer-events: none;
                }

                .input-group input {
                    height: 28px;
                    padding-left: 0.5rem;
                    padding-top: 0.25rem;
                    font-size: 12px;

                    &[icon=search] {
                        background-size: 1.5rem;
                    }
                }

                .select-group {
                    .selectric-wrapper {
                        &.selectric-open {
                            z-index: unset;

                            & > .selectric {
                                z-index: 14;
                            }
                            & > div {
                                z-index: 999;
                            }
                        }

                        .selectric {
                            height: 28px;
                            padding-left: 0.5rem;

                            &>.label {
                                height: 28px;
                                margin: 0 1.5rem 0 0;
                                font-size: 12px;
                                line-height: 28px;

                                &>span {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    background-size: cover;
                                    background-position: 0px 0px;
                                }
                            }

                            &>b {
                                top: 0px;
                                background-size: 1.5rem;
                                height: 100%;
                            }
                        }

                        .selectric-items {
                            height: unset;

                            li {
                                height: 1.5rem;
                                padding: 0 0.5rem;

                                &>span {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    background-size: cover;
                                    background-position: 0px 0px;
                                }
                            }
                        }
                    }

                    &>select {
                        height: 28px;
                        padding-left: 0.5rem;
                        font-size: 12px;
                        background-size: 1.5rem;
                    }
                }

                .checkbox-group {
                    @media #{$mediaMobile} {
                        margin: 0;
                    }

                    .check-btn.element-state {
                        margin: 0;
                    }
                
                    .check-btn.shards-state {
                        height: 2rem;
                        width: unset;
                        min-width: 3rem;
                        padding: 0px;

                        .shards_bar_wrapper .shards p {
                            font-size: 12px;
                            margin-left: -1.125rem;
                            margin-right: 0.5rem;
                        }
                    }

                    .check-btn.carac-state {
                        height: 2rem;
                        width: 2.5rem;
                        min-width: 2.5rem;
                
                        &::before {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }
            }
        }

        .tip-filter {
            display: none;
        }
    }

    // Speed up the slide-out animation
    #filtering_girls,
    #harem_left,
    #harem_right {
        transition: transform 0.1s ease;
    }
}
