.script-hide-claimed {
    display: none;

    #events .nc-panel-body & {
        display: none;
    }

    #dp-content 
        .left-container
        .tiers-container
        .player-progression-container
        .tiers-progression
        & {
        display: none;
    }

    .seasonal-event-panel
        .seasonal-event-container
        .tabs-section
        #home_tab_container
        .bottom-container
        .right-part-container
        .seasonal-tiers-section
        .seasonal-progress-bar-section
        .seasonal-progress-bar-tiers
        .seasonal-tier-container
        &.seasonal-tier {
        display: none;
    }

    .mega-event-panel
        .mega-event-container
        .tabs-section
        #home_tab_container
        .bottom-container
        .right-part-container
        .mega-tiers-section
        .mega-progress-bar-section
        .mega-progress-bar-tiers
        .mega-tier-container
        &.mega-tier {
        display: none;
    }

    .page-member-progression
        .member-progression-container
        .tiers-container 
        .tiers
        &.tier {
            display: none;
    }

    .rewards_seasons_row &.rewards_pair {
        display: none;
    }
}

.no-transition {
    transition: none!important;
}
