.script-hide-claimed {
    display: none;

    #events .nc-panel-body & {
        display: none;
    }

    #events
        .nc-panel-container
        .nc-panel-body
        #nc-poa-tape-rewards
        &.nc-poa-reward-pair {
        display: none;
    }

    #dp-content 
        .left-container
        .tiers-container
        .player-progression-container
        .tiers-progression
        & {
        display: none;
    }

    .mega-event-panel
        .mega-event-container
        .tabs-section
        #home_tab_container
        .bottom-container
        .right-part-container
        .mega-tiers-section
        .mega-progress-bar-section
        .mega-progress-bar-tiers
        .mega-tier-container
        &.mega-tier {
        display: none;
    }

    .page-member-progression
        .member-progression-container
        .tiers-container 
        .tiers
        &.tier {
            display: none;
    }

    .rewards_seasons_row &.rewards_pair {
        display: none;
    }

    #world-boss-event
        .tabs-section
        #milestones_tab_container
        .middle-container
        .tiers-section
        .progress-bar-section
        .progress-bar-tiers
        > &.tier {
        display: none;
    }
}

.no-transition {
    transition: none !important;
}

.rewards_seasons_row {
    width: max-content !important;
}
