.girl-upper-info {
    height: 2rem;
    align-items: center;

    .girl-position {
        height: 3rem !important;
        margin-top: 0rem !important;
        margin-left: 0.625rem !important;
    }
}

.girl-upper-stats {
    position: absolute;
    display: flex;
    gap: 1rem;
    text-align: center;
    font-size: 14px;
    z-index: 3;
    text-shadow: 0px 0px 4px black;

    ::before {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.equipment_slot {
    overflow: visible !important;
}

.slot {
    .item_resonances {
        position: absolute;
        display: flex;
        gap: 0.125rem;
        left: 0rem;
        top: -1rem;
        z-index: 3;

        img {
            width: 1.25rem;
            height: 1.25rem;
        }

        .matches {
            filter: drop-shadow(0px 0px 3px #00ff06) drop-shadow(0px 0px 3px #00ff06) drop-shadow(0px 0px 3px #00ff06);
        }
    }
}

.inventory-controls #girl-equipment-equip {
    position: absolute;
    right: 53px;
    bottom: 1rem;
}

.equipment-left-controls {
    #girl-equipment-unequip {
        position: absolute;
        left: 535px
    }

    #girl-equipment-level-up {
        position: absolute;
        right: 198px;
    }
}
